.checkbox-group-container {
    display: inline-flex;
    align-items: center;
    gap: 0px;
    margin: 0 1px;
}

.checkbox-group-separator {
    margin: 0 2px;
    opacity: 0.5;
    padding: 0 1px;
}

.task-list-item-checkbox {
    margin: 0 2px 0 0;
    cursor: pointer;
}

.checkbox-crossed-out {
    text-decoration: line-through;
    opacity: 0.7;
}

.checkbox-group-leading {
    margin-right: 4px;
    font-weight: 600;
}